@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 !important;
  --olive: #6F7C24;
}

.bg-olive {
  background-color: var(--olive);
}

.border-olive {
  border-color: var(--olive);
}

.bg-semi {
  background-color: rgba(111, 124, 36, 0.8);
}

.british {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

svg {
  display: inline;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/** Background Images **/
.img_9804 {
  background-image: url('src/assets/IMG_9804.webp');
  /*background-position: center;*/
  /*background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tauri-regular {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-grass {
  background-image: url("/src/assets/grass.jpg");
  background-repeat: repeat;
  background-color: rgba(0,0,0,.75);
  background-blend-mode: multiply;
}

.bg-9648 {
  background-image: url("/src/assets/IMG_9648.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

