@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 !important;
}

.bg-olive {
  background-color: #6F7C24;
}

.british {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

svg {
  display: inline;
}

@media only screen and (max-width: 600px) {
  .hideOnSmallScreens {
    display: none;
  }

  #phone_number {
    flex-basis: 100% !important;
  }
}

